Usage

    By default, the specified OSGi bundles are checked for status "Active", but
    any bundle state can be specified.  If multiple bundle names are provided,
    the plugin execution will succeed only if all named bundles match the
    expected status.

* Configuration

    Define the plugin in your project's <<<pom.xml>>> as follows:

+-----
<project>
    [...]
    <build>
        <plugins>
            <plugin>
                <groupId>${project.groupId}</groupId>
                <artifactId>${project.artifactId}</artifactId>
                <version>${project.version}</version>
                <executions>
                    <execution>
                        <goals>
                            <goal>status</goal>
                        </goals>
                        <configuration>
                            <bundleNames>
                                <bundleName>groovy-all</bundleName>
                            </bundleNames>
                        </configuration>
                    </execution>
                </executions>
            </plugin>
        </plugins>
    </build>
    [...]
</project>
+-----

* Execution

    By default, the plugin is executed in the <<<install>>> phase of the build
    lifecycle to ensure that a bundle has been successfully installed to an
    OSGi container.

+-----
mvn install
+-----