The ${project.name} is used during the `install` phase of the build
lifecycle to check the status of one or more bundles in an OSGi
container, such as [Apache Felix](http://felix.apache.org/).  The plugin
expects the OSGi container to be running at build time in order to connect
and perform the check remotely.  A typical use case for the plugin would be
to verify that an OSGi bundle that is deployed by the project is running as
expected after a successful build.

Currently, Apache Felix is the only supported OSGi container.

## Goals

The plugin has only one goal:

* [osgi-bundle-status:status](./status-mojo.html) checks the status of bundle(s) in a remote OSGi container.

## Usage

Instructions on how to use the plugin can be found on the [usage](./usage.html) page.  More specific use cases are detailed in the examples provided below.

## Examples

The following examples demonstrate how to use the plugin in both basic and advanced use cases:

* [Basic](./examples/basic.html)
* [Advanced](./examples/advanced.html)